/* Defina a cor personalizada */
.btn-custom-success {
  background-color: #5FB832; /* Cor desejada */
  border-color: #5FB832; /* Cor da borda (opcional) */
  color: #fff; /* Cor do texto (opcional) */
  transition: background-color 0.3s; /* Efeito de transição suave */
}

/* Configuração de hover */
.btn-custom-success:hover {
  background-color: #68FFA6; /* Cor ligeiramente mais escura no hover */
}
.loginBody {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
.logo{
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.MDBTabsLink {
  background-color: #5FB832;
}
.w-100.custom-alert {
  position: absolute;
  z-index: 9999;
  width: 60%;
  min-height: 5%;
  left: 0;
  display: flex; /* Use flexbox para centralizar o conteúdo */
  flex-direction: column; /* Alinhe o conteúdo verticalmente */
  justify-content: center; /* Centralize verticalmente */
  align-items: center; /* Centralize horizontalmente */
  padding: 2px;
  padding-top: 10px;
}



 