.Logos{
    /* Defina uma media query para uma largura máxima de 768 pixels */
@media screen and (max-width: 768px) {
    width: 270px;
    .sua-classe {
        width: 370px; /* Por exemplo, defina a largura para 300 pixels */
    }
}

    height: auto;
}
.SobreBody{
    justify-content: center;
} 
.GitHub a{
    width: 5%;
    height: auto;
}

.contatos{
    justify-content: center;
    margin: 0 auto;
    display: flex;
    height: 20%;
}