.ModalPlantoesEnfermeiroBody {
    height: 300px;
    overflow-y: scroll !important;
}


.ModalPlantoesEnfermeiroComponent{
    top: 5%;
}
.tabelaEnfermeiroPlantoes{
    margin: 0 auto;
}
.tabelaEnfermeiroPlantoes td {
    padding-top: 10px; /* Adicionar espaço na parte superior da célula */
    padding-left: 10px;
}
.Adicioneumplantao{
    left: 5%;
}
.EnfermeiroPlantaoFormTotal{
    display: block;
}
.EnfermeiroPlantaoFormQuest{
    display: flex;
}
.ModalFooter{
    display: block;
}

.w-100.custom-alert {
    top: 0; /* Coloca o elemento no topo da janela */
    left: 0; /* Opcional: coloca o elemento no canto esquerdo da janela */
    width: 100%; /* Define a largura como 100% */
    z-index: 99999999999; /* Define a ordem de empilhamento (z-index) conforme necessário */
    /* Outras propriedades CSS, como cores de fundo e texto, podem ser adicionadas aqui */  
  }