.ModalPlantoesEnfermeiroBody {
    max-height: 300px;
    overflow-y: auto;
}


.ModalPlantoesEnfermeiroComponent{
    top: 5%;
}
.tabelaEnfermeiroPlantoes{
    margin: 0 auto;
}
.tabelaEnfermeiroPlantoes td {
    padding-top: 10px; /* Adicionar espaço na parte superior da célula */
    padding-left: 10px;
}
.Adicioneumplantao{
    left: 5%;
}
.EnfermeiroPlantaoFormTotal{
    display: block;
}
.EnfermeiroPlantaoFormQuest{
    display: flex;
}
.ModalFooter{
    display: block;
}