 .table-plantoes {
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        width: 60%;
    }
    
    .table-plantoes th {
        padding: 8px;
        text-align: left;
    }
    
    .table-plantoes td {
        padding: 8px;
        text-align: left;
    }
.plantaoSelecionado {
    background-color: rgb(230, 173, 173);
  }
  